body {
    background: #36393d;
    color: white;
}
* {
    margin: 0px;
    padding: 0px;
}

.full-page {
    position: relative;
    width: 100vw;
    height: 50vh;
    border: 1px solid red;    
}
